header {
    background: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    padding: 1rem 2rem;

    h1 {
        font-weight: normal;
        text-indent: -9999px;
        background: url(../images/logo_pearsons.png) no-repeat left center;
        background-size: contain;
        width: 145px;
        height: 43px;
        margin-bottom: 0;
    }
}