/* Material icon ---*/
/* Resets */
* {
  font-family: "Segoe UI", Helvetica, sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  color: #585858;
  text-align: left;
  background-color: #fff;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, p, form {
  margin: 0;
  padding: 0;
}

a {
  color: #069;
  text-decoration: none;
}

a:hover {
  color: #09f;
}

fieldset {
  border: 0;
}

/* Accessibility --------- */
.pr-sr-only {
  position: absolute;
  top: -65rem;
  left: -65rem;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.pr-sr-only--focusable:focus {
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
  z-index: 300;
  -webkit-box-shadow: 0 0 2px 2px #069;
          box-shadow: 0 0 2px 2px #069;
}

/* Skip To Navigation & Skip to Content Links */
.pr-skipto {
  display: block;
  padding: 1em;
  text-align: center;
  background-color: #000;
  color: #fff;
  outline: 0;
}

.pr-skipto:focus, .pr-skipto:hover {
  color: #fff;
}

header {
  background: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
}

header h1 {
  font-weight: normal;
  text-indent: -9999px;
  background: url(../images/logo_pearsons.png) no-repeat left center;
  background-size: contain;
  width: 145px;
  height: 43px;
  margin-bottom: 0;
}

* {
  font-family: "Segoe UI", Helvetica, sans-serif;
}

h1 {
  font-size: 2.25rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

main {
  padding: 2rem;
  max-width: 71.25rem;
  margin: 0 auto;
}

main h2 {
  font-weight: normal;
  margin-bottom: 1rem;
}

form {
  margin-bottom: 3.5rem;
}

.pr-form-instruction {
  margin-bottom: 2.5rem;
}

.pr-grouped {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.25rem;
}

.pr-grouped--actions {
  margin-top: 1rem;
}

.pr-grouped .pr-form-group {
  margin-right: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.pr-grouped:last-child {
  margin-bottom: 0;
}

.pr-form-group__label {
  display: block;
  font-weight: bold;
  padding: 0 .5rem .5rem 0;
  font-size: 0.9rem;
}

.pr-form-group__field {
  padding: 0.75rem 1rem 0.75rem;
  border: 2px solid #DCE4EE;
  background-color: #ffffff;
  border-radius: .25rem;
  font-size: 1rem;
  width: 100%;
}

.pr-form-group__field.error {
  border-color: #AA3939;
  background-color: #FFdddd;
}

.pr-form-group__field::-webkit-input-placeholder {
  color: #999;
}

.pr-form-group__field:-ms-input-placeholder {
  color: #999;
}

.pr-form-group__field::-ms-input-placeholder {
  color: #999;
}

.pr-form-group__field::placeholder {
  color: #999;
}

.pr-form-group__field:-ms-input-placeholder {
  color: #999;
}

.pr-form-group__field::-ms-input-placeholder {
  color: #999;
}

.pr-error-message {
  background-color: #FFdddd;
  border: 2px solid #AA3939;
  border-radius: .25rem;
  padding: .75rem;
  margin-bottom: 2rem;
}

.pr-error-message p {
  margin-bottom: .5rem;
}

.pr-error-message ul {
  margin-bottom: 0;
  margin-top: 0;
}

.pr-error-message:empty {
  display: none;
}

/* Buttons --------- */
.pr-btn {
  display: inline-block;
  padding: 0.5rem 1.25rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0;
  cursor: pointer;
  border: 0;
  border-radius: 0.25rem;
  outline: 0;
  white-space: nowrap;
  text-align: center;
}

.pr-btn:hover {
  -webkit-box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
          box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
}

.pr-btn:focus {
  -webkit-box-shadow: 0 0 2px 2px #069;
          box-shadow: 0 0 2px 2px #069;
}

.pr-btn--primary {
  background-color: #047A9C;
  color: #fff;
}

.pr-btn--primary:hover {
  background-color: #03536a;
  color: #eee;
}

.pr-btn--secondary {
  background-color: #eee;
  color: #555;
}

.pr-btn--secondary:hover {
  background-color: #ddd;
  color: #333;
}

/* CSS Document */
.pr-dropdown {
  display: inline-block;
  position: relative;
}

.pr-dropdown__toggle {
  padding: .5rem 1rem;
  display: inline-block;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  color: #555;
}

.pr-dropdown__toggle:after {
  content: "arrow_drop_down";
  display: inline-block;
  font-family: "Material Icons";
  font-style: normal;
  vertical-align: middle;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: normal;
  white-space: nowrap;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin-left: .5rem;
}

.pr-dropdown__menu {
  position: absolute;
  top: 42px;
  width: 100%;
  left: 0;
  border: 1px solid transparent;
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
  z-index: 10;
  opacity: 0;
}

.pr-dropdown__menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
}

.pr-dropdown__menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  padding: 0.5rem 1rem;
  color: #999;
}

.pr-dropdown__menu ul li.complete {
  color: #555;
}

.pr-dropdown__menu ul li.complete .pr-dropdown__status:after {
  content: "complete";
}

.pr-dropdown__menu ul li.complete .pr-dropdown__status i {
  display: inline-block;
  margin-right: .5rem;
}

.pr-dropdown__menu ul li:hover {
  background-color: #f2f2f2;
}

.pr-dropdown__menu ul li.current {
  background-color: #047A9C;
  color: #fff;
}

.pr-dropdown__menu ul li .pr-dropdown__status i {
  color: #090;
  vertical-align: middle;
  display: none;
}

.pr-dropdown__menu ul li .pr-dropdown__status:after {
  content: "Incomplete";
}

.pr-dropdown__extra {
  text-align: right;
  padding: 0.5rem 0 0 0;
}

.pr-dropdown.open .pr-dropdown__menu {
  opacity: 1;
  border-color: #ddd;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.pr-dropdown.open .pr-dropdown__menu ul {
  max-height: 20rem;
}

.pr-quiz {
  /* Initial state */
}

.pr-quiz p {
  margin-bottom: .5rem;
}

.pr-quiz p:last-child {
  margin-bottom: 0;
}

.pr-quiz header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-align-items: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-align: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
}

.pr-quiz header h1 {
  font-size: 1rem;
  margin: 0;
  padding: 1rem 2rem 1rem 0;
  -webkit-box-flex: 1 0 45%;
  -ms-flex: 1 0 45%;
  flex: 1 0 45%;
  border-right: 1px solid #ddd;
  background: transparent;
  text-indent: 0;
}

.pr-quiz__points {
  margin: 0;
  padding: 1rem 2rem;
  border-right: 1px solid #ddd;
  text-align: center;
}

.pr-quiz__due {
  margin: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1rem 0 1rem 2rem;
  text-align: right;
  white-space: nowrap;
}

.pr-quiz__objective {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}

.pr-quiz__description {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.pr-quiz__counter {
  display: none;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  padding: 1rem 0;
}

.pr-quiz__counter.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pr-quiz__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pr-quiz__container video {
  width: 100%;
  height: auto;
}

.pr-quiz__video {
  -webkit-box-flex: 1 0 50%;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
}

.pr-quiz__video video {
  display: block;
}

.pr-quiz__questions {
  -webkit-box-flex: 1 0 50%;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  border: 1px solid #ddd;
  /* Initial state */
}

.pr-quiz__questions.initial .pr-quiz__question, .pr-quiz__questions.initial .pr-quiz__answeroptions, .pr-quiz__questions.initial .pr-quiz__actions, .pr-quiz__questions.initial .pr-quiz__questionno {
  display: none;
}

.pr-quiz__question {
  background-color: #f7f7f7;
  margin: -1px -1px 0 -1px;
  padding: .75rem 1rem .75rem 2rem;
  margin-bottom: 1rem;
  min-height: 4.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-align-items: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-align: center;
}

.pr-quiz__answeroptions {
  list-style-type: none;
  margin: 0 2rem 1rem;
  padding: 0;
}

.pr-quiz__answeroptions li {
  margin-bottom: .5rem;
}

.pr-quiz__answeroptions li:last-child {
  margin: 0;
}

.pr-quiz__questionno {
  padding: 0 1rem 0 2rem;
  margin-bottom: 1rem;
}

.pr-quiz__actions {
  padding: 0 1rem 0 2rem;
  margin-bottom: 1rem;
  text-align: right;
}

.pr-quiz__initial {
  background-color: #005A70;
  height: 100%;
  color: #fff;
  display: none;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-align: center;
}

.initial .pr-quiz__initial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pr-quiz__initial p {
  margin: 0;
  font-size: 1.25rem;
  text-align: center;
}

.pr-quiz #resumeBtn {
  display: none;
}

.pr-quiz__scores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-align-items: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-align: center;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.pr-quiz__review {
  -webkit-box-flex: 1 0 50%;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  border: 1px solid #ddd;
  border-width: 1px 0 0 0;
}

.pr-quiz__reviewquestion {
  color: #333;
  font-weight: 500;
  margin-bottom: 1rem;
}

.pr-quiz__answers {
  color: #666;
  list-style-type: none;
  margin: 0 0 0 -.25rem;
  padding: 0;
}

.pr-quiz__answers li {
  margin-left: -2rem;
  padding: .35rem 0 .35rem 2.25rem;
  position: relative;
}

.pr-quiz__answers li.correct {
  color: #090;
  font-weight: 500;
}

.pr-quiz__answers li.correct:before {
  content: "done";
  display: inline-block;
  font-family: "Material Icons";
  font-style: normal;
  vertical-align: middle;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  white-space: nowrap;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
}

.pr-quiz__answers li.selected {
  color: #c00;
  font-weight: 500;
}

.pr-quiz__answers li.selected:before {
  content: "close";
  display: inline-block;
  font-family: "Material Icons";
  font-style: normal;
  vertical-align: middle;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  white-space: nowrap;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
}

/* Lightbox ---*/
.pr-modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
  height: 100%;
  width: 100%;
}

.pr-modal__inner {
  background: #fff;
  position: relative;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  width: 100%;
  max-width: 600px;
  margin: 3rem auto;
}

.pr-modal__inner .pr-modal__close {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.pr-modal__inner .pr-modal__close .material-icons {
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 0.6;
}

.pr-modal__inner .pr-modal__close:hover .material-icons {
  opacity: 1;
}

.pr-modal__header {
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  background-color: #f7f7f7;
  color: #555;
}

.pr-modal__header a {
  color: #555;
}

.pr-modal__header h4 {
  font-size: 1.25rem;
  margin-bottom: 0;
  color: #555;
}

.pr-modal__content {
  -webkit-box-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem 1rem 2rem 1rem;
}

.pr-modal__footer {
  padding: 1rem 1rem 1rem;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  border-top: 1px solid #ddd;
}

.pr-modal__footer .pr-btn {
  margin-left: 0.5rem;
}

.pr-accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  margin-bottom: 1rem;
}

.pr-accordion__item {
  border: 1px solid #ddd;
  border-width: 0 1px 1px;
  background-color: #fff;
  border-top-width: 0;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.pr-accordion__item:first-child {
  border-top-width: 0;
}

.pr-accordion__item.active .pr-accordion__title:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.pr-accordion__item.active .pr-accordion__details {
  display: block;
}

.pr-accordion__title {
  padding: .75rem 1rem .75rem 1rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.pr-accordion__title:before {
  content: "arrow_right";
  display: inline-block;
  font-family: "Material Icons";
  font-style: normal;
  vertical-align: middle;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: normal;
  white-space: nowrap;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0 0.25rem 0 0;
}

.pr-accordion__title h4 {
  font-weight: normal;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.pr-accordion__title i.material-icons.green {
  color: #090;
}

.pr-accordion__title i.material-icons.red {
  color: #c00;
}

.pr-accordion__details {
  display: none;
  padding: 1rem 1rem 1rem 2.5rem;
  background-color: #f7f7f7;
  border-top: 1px solid #ddd;
}

.pr-donut {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.pr-donut__slice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pr-donut__center {
  position: absolute;
  border-radius: 50%;
}

.pr-donut__center span {
  display: block;
  text-align: center;
}

.pr-donut.chart1 {
  width: 80px;
  height: 80px;
  background: #FFB81C;
}

.pr-donut.chart1 .pr-donut__slice.one {
  clip: rect(0 80px 40px 0);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background: #047A9C;
}

.pr-donut.chart1 .pr-donut__slice.two {
  clip: rect(0 40px 80px 0);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  background: #047A9C;
}

.pr-donut.chart1 .pr-donut__center {
  top: 8px;
  left: 8px;
  width: 64px;
  height: 64px;
  background: #fff;
}

.pr-donut.chart1 .pr-donut__center span {
  font-size: 1.125rem;
  line-height: 64px;
  color: #047A9C;
}

.pr-donut.chart1 .pr-donut__center span:after {
  content: "75%";
}

/* CSS Document */
.pr-message {
  padding: 1rem 2.75rem 1rem 1rem;
  margin-right: 1.5rem;
  z-index: 600;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
  position: fixed;
  left: 2rem;
  top: 0rem;
  margin: 0;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-top: 5px solid transparent;
  background-color: #fff;
}

.pr-message strong {
  display: block;
  margin-bottom: .5rem;
}

.pr-message.show {
  top: 2rem;
  opacity: 1;
}

.pr-message__clear {
  position: absolute;
  right: .5rem;
  top: .5rem;
  color: #888;
}

.pr-message__clear:hover {
  color: #666;
}

.pr-message--error {
  border-top-color: #c00;
}

.pr-message--success {
  border-top-color: #090;
}

.pr-message--success strong {
  color: #090;
}

footer {
  padding: 2rem;
  font-size: .875rem;
  text-align: center;
}
/*# sourceMappingURL=part4b.css.map */