/* Resets */
* {
  font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  color: #585858;
  text-align: left;
  background-color: #fff;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, p, form {
  margin: 0;
  padding: 0;
}

a {
  color: #069;
  text-decoration: none;
}

a:hover {
  color: #09f;
}

fieldset {
  border: 0;
}

/* Accessibility --------- */
.pr-sr-only {
  position: absolute;
  top: -65rem;
  left: -65rem;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.pr-sr-only__focusable:focus {
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
  z-index: 300;
}

/* Skip To Navigation & Skip to Content Links */
.pr-skipto {
  display: block;
  padding: 1em;
  text-align: center;
  background-color: #000;
  color: #fff;
  outline: 0;
}

.pr-skipto:focus, .pr-skipto:hover {
  color: #fff;
}

header {
  height: 3rem;
  background: #f7f7f7;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.pr-register {
  max-width: 40rem;
  padding-top: 2rem;
}

.pr-register section {
  border: 1px solid #f2f2f2;
  border-radius: 0.25rem;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: backgroundColor 0.3s linear;
  transition: backgroundColor 0.3s linear;
  padding: .75rem !important;
}

.pr-register .pr-titleaction {
  margin-bottom: 0.5rem;
}

.pr-register .pr-form-group {
  display: block;
  margin-bottom: 1rem;
}

.pr-register .pr-form-group .pr-form-group--field {
  width: 100%;
}

.pr-register .pr-btn__primary {
  width: 100%;
}

.pr-register .pr-register-actions {
  margin: 1.5rem 0 1rem;
}

.pr-register .pr-register-actions p {
  font-size: .875rem;
}

fieldset {
  padding: 0;
  border: 0;
  border-top: 2px solid #ccc;
  min-width: 0;
}

fieldset legend {
  font-weight: 500;
  padding: 0 1rem 0 0;
  margin-bottom: 1rem;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

fieldset.pr-form-actions {
  border-top: 0;
  padding-top: 0;
}

.pr-form-group {
  margin-bottom: 1rem;
}

.pr-form-group--label {
  display: block;
  color: #666;
  padding: 0 .5rem .25rem .5rem;
  font-size: 0.9rem;
}

.pr-form-group--field {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.75rem 1rem 0.75rem 0.5rem;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  border-radius: .25rem;
  font-size: 1rem;
}

.pr-form-group--field::-webkit-input-placeholder {
  color: #999;
}

.pr-form-group--field:-ms-input-placeholder {
  color: #999;
}

.pr-form-group--field::-ms-input-placeholder {
  color: #999;
}

.pr-form-group--field::placeholder {
  color: #999;
}

.pr-form-group--field:-ms-input-placeholder {
  color: #999;
}

.pr-form-group--field::-ms-input-placeholder {
  color: #999;
}
/*# sourceMappingURL=part1.css.map */